<header id="header-section" class="">
  <div class="header-img d-flex justify-content-center align-content-center align-items-center flex-column mb-0">

    <nav class="nav d-none d-sm-flex justify-content-center align-items-center">
      <a class="nav-link" href="#header-section">Home</a>
      <a class="nav-link" href="#review-section">Review</a>
      <a class="nav-link" href="#info-section">Info</a>
      <a class="nav-link" href="#banner-section">Slogan</a>
      <a class="nav-link" href="#icon-section">Icons</a>
      <a class="nav-link" href="#card-section">Cards</a>
    </nav>

    <div class="header-content d-flex justify-content-center align-content-center align-items-center flex-column">
      <p class="w-75 text-center text-break">Alles, was DU schon immer über DEINE
        <span class="slogan-title">Programmiersprache</span> wissen wolltest</p>
      <button type="button" class="btn btn-outline-primary">Hier nachschauen</button>
      <!-- <a class="btn btn-outline-primary" href="#card-section">Hier nachschauen</a> -->
    </div>
  </div>
</header>
