<section id="info-section" class="d-flex justify-content-center align-items-center">
  <div class="container-fluid">

    <div class="row flex-column-reverse flex-lg-row">

      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <img class="img-fluid" src="../../../../assets/img/banners/sec-img-2.jpg" alt="Tablet Image">
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 text-intro">
        <h1 class="display-4 text-right">Was erwartet dich?</h1>
        <p class="lead text-right">Auf dieser Seite kannst du dir einen Überblick sowie Informationen zu deiner
          liebsten Programmiersprache verschaffen. Natürlich kannst du auch einfach über andere Programmiersprachen
          etwas nachlesen, dass du schon immer wissen wolltest. Dabei werden dir hier die Grundlegenden Fakten
          zu einer gewählten Sprache aufgezeigt.</p>
        <p class="quote-info font-italic text-right">"Nur wer bereit ist etwas zu investieren, kann etwas gewinnen!"</p>
      </div>
    </div>

  </div>
</section>
