<!--

#################################################################################################
  TO-DO PLR-APP
#################################################################################################

 - Support für Chrome, Firefox, Edge, (IE11) gewährleisten

 - Styling anpassen (+ Responsive Design, + Farbabstimmungen ganze Seite,
 + Animationen hinzufügen (Angular Animations?!)

 - View Page einer bestimmten Sprache anpassen/ausarbeiten

 - Alle Texte auf Deutsch passend gestalten

 - Sourcecode überarbeiten (Lazy Loading, RxJs, Angular
   allgemein, Kommentare löschen & unnötige Stellen etc.,
   unnötige Imports löschen)

 -->

<!-- Vielleicht text-justify versuchen - https://getbootstrap.com/docs/4.3/utilities/text/ -->
<!-- also use text-break -->
<!-- also use font-weight-lighter -->
<!-- reset color from a text-muted -->
<!-- also use text-decoration-none for a -->
<!-- about us // contact us section -->

<!-- web app container -->
<div class="container-fluid">
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
