<section id="review-section" class="d-flex justify-content-center align-items-center">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 text-intro">
        <h1 class="display-4 text-left">Ein erster Einstieg!</h1>
        <p class="lead text-left">Eine Programmiersprache ist eine formale Sprache zur Formulierung von Datenstrukturen
          und Algorithmen, d. h. von Rechenvorschriften, die von einem Computer ausgeführt werden können.
          Sie setzen sich aus Anweisungen nach einem vorgegebenen Muster zusammen, der sogenannten Syntax.</p>
        <p class="quote-info font-italic text-left">"Aller Anfang ist schwer, doch auch ein kleiner Regen füllt einen Fluss."</p>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <img class="img-fluid" src="../../../../assets/img/banners/sec-img-1.jpg" alt="Tablet Image">
      </div>
    </div>

  </div>
</section>
