<div class="plr-list-wrapper">
  <div class="row p-0 m-0">

    <!-- sm md lg xl  -->
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 p-0 m-0 card-list d-flex
      justify-content-center align-items-center justify-content-center"
         *ngFor="let language of languageList  | async">
      <div class="img-wrapper">
        <p class="text-white text-title">
          <a [routerLink]="['/plr-view', language.id]" class="stretched-link">
            {{ language.title | uppercase }}
          </a>
        </p>
      </div>
    </div>

  </div>
</div>
