<section id="icon-section" class="d-flex justify-content-center align-items-center">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 d-flex flex-column text-center">
        <fa-icon [icon]="faUser"></fa-icon>
        <h2>Community</h2>
        <p class="lead">Werde Teil der großen Programmiererwelt und eröffne dir neue Türen.
          Durch regelmäßiges Training werden deine Fähigkeiten immer besser
          und deine Codequalität wird sich weiter steigern.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 d-flex flex-column text-center">
        <fa-icon [icon]="faCog"></fa-icon>
        <h2>Settings</h2>
        <p class="lead">Meistere deine Programmiersprache. Ob du für deine Sprache auf Frameworks setzt
          oder andere Bibliotheken einbindest, alles lässt sich nach deinen Wünschen und Zielen anpassen.
          Durch stetige Weiterentwicklung wirst du viele neue Einstellungen und Optionen deiner Wahl finden.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 d-flex flex-column text-center">
        <fa-icon [icon]="faCode"></fa-icon>
        <h2>Source</h2>
        <p class="lead">Ob einfacher Editor oder große IDE. Deine Programme werden die Welt verändern.
          Wer heute noch anfängt, der wird morgen schon einen Schritt weiter sein. Dabei geht das lernen
          der Sprache viel einfacher, wenn man sich realistische Projekte wählt.</p>
      </div>
    </div>

  </div>
</section>
