<!-- Landing page on web-app load -->
<div class="plr-home-wrapper">

  <!-- header section -->
  <plr-header-section></plr-header-section>

  <!-- review section-->
  <plr-review-section></plr-review-section>

  <!-- info section -->
  <plr-info-section></plr-info-section>

  <!-- banner section -->
  <plr-banner-section></plr-banner-section>

  <!-- icon section -->
  <plr-icon-section></plr-icon-section>

  <!-- card section -->
  <plr-card-section></plr-card-section>

  <!-- footer section -->
  <plr-footer-section></plr-footer-section>

</div> <!-- plr-home-wrapper end -->

